.wrap {
    margin: 2.5% 0;
    padding: 0 5%;
    border: 1px solid rgba(#DDD, .6);
    border-radius: 4px;
    box-shadow: 0 0 0 rgba(#FFF, 0);
    transition: border-color .3s, box-shadow .3s;
    &:hover {
        border-color: rgba(#FFF, .1);
        box-shadow: 0 0 8px rgba(#677, .2);
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.link {
    float: right;
    margin-bottom: 1.5%;
    padding: 1%;
    border-bottom: 1px solid var(--title-color);
    &:hover {
        color: #000;
    }
}