.wrap {
    margin-bottom: 2.5%;
}
.link {
    display: inline-block;
    margin-right: 2%;
    padding: 1% 2%;
    border: 1px solid #DDD;
    border-radius: 4px;
    &.active {
        background: linear-gradient(120deg, rgba(#677, .3), rgba(#677, .7));
    }
}
