.main-header {
    border-bottom: 1px solid var(--header-border);
    background: var(--main-background);
    box-shadow: 0 2px 4px rgba(#000, .1);
}

.container {
    display: flex;
    align-items: center; 
}

.title {
    color: var(--title-color);
    font-size: 16px;
    strong {
        font-size: 42px;
    }
}

.middle-wrap {
    flex: 1;
}

.tools-wrap {
    
}