@import-normalize;
a {
    color: inherit;
    text-decoration: none;
}

:root {
    --main-background: #f0f0f0;

    --header-border: #f6f6f6;

    --title-color: #333;

    --text-color: #24292e;
    &.dark {
        --main-background: #1e1f1e;

        --header-border: #303130;

        --title-color: #FF6600;

        --text-color: #24292e;
    }
}

html {
    background: var(--main-background);
}

main {
    margin: 20px auto 0;
    padding: 2.5%;
    width: 70%;
    color: var(--text-color);
    background: rgb(243, 243, 243);
}

.container {
    margin: 0 auto;
    width: 96%;
    max-width: 1360px;
}
