.switch {
    position: relative;
    display: block;
    width: 46px;
    height: 26px;
}

input {
    display: none;
    &:checked {
        ~.switch-bg {
            background-color: #677;
        }
        ~.switch-dot {
            transform: translateX(22px);
        }
    }
}

.switch-bg {
    height: 100%;
    background-color: rgb(66, 66, 66);
    border-radius: 15px;
    transition: background-color .3s;
}
.switch-dot {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #FFF;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform .3s;
}